* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}

header img {
    width: 120px;
}

nav{
    background-color: coral;
    
    
}

ul {
    background-color: blueviolet;
    list-style: none;
    
    
}

li{
    background-color: beige;
    display: inline;
    
    
    
    
}







.Container-synopsis, .Social-Media{
    background-color: crimson;
    display: flex;

    margin: 30px;
    padding: 20 px;
    border-radius: 20px;
}

.Sub-container-synopsis, .Social-Media {
    background-color: palevioletred;
    padding: 20px;
    margin: 10px;
}

.tittle {
    background-color: darkgoldenrod;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
}

main .Card img {
    width: 200px;
}

.Container-character {
    background-color: darkturquoise;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-block-end: 40px;
    
}
.Card {
    width: 300px;
    background-color: bisque;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

main .Social-Media img {
    width: 180px;
}

.Sub-container-Media {
    background-color: forestgreen;
    padding: 10px;
    margin: 20px;
}
footer {
    background-color: goldenrod;
}